$start_color: red;

:host {
  position: relative;
  overflow: hidden;
  display: block;
  height: 400px; //default height as suggested in issue#1
}

#legend .entry {
  padding: 5px;
}

#legend[vertical] .entry {
  float: left;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.line {
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}

.axis {
  path, line {
    fill: none;
    stroke: #818181;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.grid {
  .tick {
    stroke: lightgrey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

  path {
    visibility: hidden;
  }
}

:host-context(.massive){
  .line {
    stroke-width: 2px;
  }

  .axis {
    path, line {
      stroke-width: 3px;
    }
  }
}

@for $i from 0 through 9 {
  .focus > .line:nth-child(10n+#{$i}){
    stroke: adjust-hue($start_color, ($i - 1)*36);
  }

  #legend .entry:nth-child(10n+#{$i + 1}) core-icon {
    color: adjust-hue($start_color, ($i - 1)*36);
  }
}
