$start_color: red;

:host {
  position: relative;
  overflow: hidden;
  display: block;
}

#title {
  padding: 10px;
}

#legend .entry {
  padding: 5px;
}

#legend[vertical] .entry {
  float: left;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.line {
  fill: none;
  stroke-width: 2px;
  shape-rendering: geometricPrecision;
}

.axis {
  path, line {
    fill: none;
    stroke: #818181;
    stroke-width: 3px;
    shape-rendering: crispEdges;
  }
}

@for $i from 0 through 9 {
  .focus > .line:nth-child(10n+#{$i}){
    stroke: adjust-hue($start_color, ($i - 1)*36);
  }

  #legend .entry:nth-child(12n+#{$i + 1}) core-icon {
    color: adjust-hue($start_color, ($i - 1)*36);
  }
}
